#root {
  width: 100%;
  /* max-width: 1400px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.dark {
  padding: 2rem;
  background-color: #7d7c7c;
  color: #f0f0f0;
}

.light {
  padding: 2rem;
}

.search-page-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4em;
}

.search-container {
  display: grid;
  grid-template-columns: auto 150px;
  grid-column-gap: 100px;
  padding-top: 2em;
}

.card-item {
  width: 300px;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px #f4f4f4;
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 2em;
  column-gap: 6em;
  justify-items: center;
}

.card-details-container {
  position: relative;
  width: 300px;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px #f4f4f4;
}

.pagination-wrapper {
  display: grid;
  justify-items: end;
  padding-bottom: 2em;
}

.pagination-container {
  display: grid;
  grid-template-columns: 110px 80px 110px;
  grid-template-rows: 40px;
  align-items: center;
}

.error-button-container {
  display: grid;
  padding-top: 2em;
  padding-bottom: 2em;
  justify-items: end;
}

.error-button {
  background-color: #ed6565;
}

.skeleton-card-details {
  display: grid;
  row-gap: 2em;
}

.skeleton-line-item {
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px #f4f4f4;
}

.skeleton-card-item {
  width: 300px;
  height: 300px;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px #f4f4f4;
}

.skeleton-content {
  background-color: #f0f0f0;
  position: relative;
}

.skeleton-content::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  box-shadow: 0 0 80px 20px #fff;
  animation: skeleton-slide 1.5s infinite ease-in-out;
}

@keyframes skeleton-slide {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}

.close-btn {
  position: absolute;
  background-color: #edb0b0;
  top: 10px;
  left: 10px;
}

.unselect-btn {
  background-color: #edb0b0;
}

.download-btn {
  background-color: #b0d0ed;
}

.download-container {
  display: grid;
  grid-template-columns: auto 200px 200px;
  grid-template-rows: 60px;
  gap: 2em;
  padding: 2em;
  align-items: center;
}

.checkbox-container {
  display: grid;
  justify-items: start;
}

.theme-container {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(2, 150px);
  gap: 2em;
}
